<!DOCTYPE html>

<html lang="en" data-ng-app="app" ng-csp ng-cloak>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", false)
</body>
</html>
